<div class="container-fluid">
    <br>
    <div class="row-fluid">

        <div class="col-md-12">

            <h1>{{ label }} <a href="{{'http://www.wikidata.org/entity/' + qid}}">{{qid}}</a></h1>

            {{ concat_aliases }}

        </div>

    </div>
</div>

<br>
<!--<div class="container-fluid">-->
<div class="row-fluid">

    <div class="col-md-6">

        <table class="table table-bordered ">
            <tr *ngFor="let x of table_data">
                <td scope="row"><b>{{ x['property'] }}</b></td>
                <td scope="row">{{ x['value'] }}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        {{ abstract_text }}
    </div>

</div>

<div class="container-fluid centered">
    <div class="row-fluid centered">
        <div class="col-md-12">

            <app-ref-timeline [qid]="qid"></app-ref-timeline>

        </div>
    </div>
</div>

<br><br><br>
<div class="container-fluid centered">
    <div class="row-fluid centered">
        <div class="col-md-12">

            <h2>Citation context</h2>

            <table class="table table-bordered ">

            <tr *ngFor="let x of colilResults">
                <td scope="row"><b><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x['CitationPaper']['value'] }}">{{ x['CitationPaper']['value'] }}</a></b></td>
                <td scope="row">{{ x['Context']['value'] }}</td>
            </tr>
            </table>

            <br><br><br>
        </div>
    </div>
</div>